.top-header {
  font-size: 14px;
}

.navbar-brand {
  font-size: 1rem;
}

.navbar-nav .nav-link {
  font-size: 0.9rem;
  padding: 0.5rem 0.75rem;
}

@media (max-width: 768px) {
  .col-md-3 img {
    display: none !important;
  }
}
